{% extends "tourist_attractions/base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static '/tourist_attractions/style.css'%}" />
{% endblock %} {% block content %}

<div class="container">
    <h1>This is a list of attractions in America!</h1>

    <table>
        
<thead><tr>
    <th>Attraction</th>
    <th>State</th>
    <th>State details</th>
  </tr></thead>
  <tbody>
  {% for item in attractions|dictsort:"state" %}
  <tr>
    <td>{{item.attraction_name}}</td>
    <td>{{item.state}}</td>
    <td> <a href="{% url 'details' item.state|slugify %}">State details</a></td>
  </tr>
  {% endfor %}
</tbody>
</table></div>
{% endblock %}
